<%- include('../partials/adminHeader.ejs')%>
<%- include('../partials/headerLinks.ejs')%>

 <!-- Button trigger modal -->
 <div class="container d-flex justify-content-center my-3">
    <button type="button" class="btn btn-dark text-center" data-bs-toggle="modal"
        data-bs-target="#exampleModal" style="background-color: #249EE3;border-color: #249EE3;">
        Add New Product
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Add New Product
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- -------------------- -->


                <form action="/admin/productManagement" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="form-holder" name="name" placeholder="Name"
                            required />
                    </div>

                    <div class="mb-3">
                        <label for="frontImage" class="px-1" style="font-size: 0.75rem;">Upload Front Image</label>
                        <input class="form-control" id="frontImage" name="frontImage" type="file" required />
                    </div>
                    <div class="croppedFrontImage-container">
                        <img src="" hidden id="croppedFrontImage">
                    </div>
                    <div class="mb-3">
                        <label for="thumbnail" class="px-1" style="font-size: 0.75rem;">Upload thumbnail</label>
                        <input class="form-control" id="thumbnail" name="thumbnail" type="file" required />
                    </div>
                    <div class="mb-3">
                        <label for="images" class="px-1" style="font-size: 0.75rem;">Upload 3 Images</label>
                        <input class="form-control" id="images" name="images" type="file" multiple />
                    </div>
                    <div class="mb-3 jqSelector">
                        <select id="inputState" class="form-control " name="category">
                            <option selected>Choose category</option>
                            <%categories.forEach((data)=>{%>
                                <option value="<%=data._id%>" class="new">
                                    <%=data.name%>
                                </option>
                                <% })%>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <select id="inputState-brand" class="form-control" name="brand" required> 
                          <option value="">Choose Brand</option> 
                          <%brands.forEach((data)=>{%> 
                            <option value="<%=data._id%>"><%=data.name%></option>
                          <%})%> 
                        </select>
                      </div>
                      
                    <div class="mb-3">
                        <textarea class="form-control" id="description" placeholder="Description"
                            name="description" style="text-transform: lowercase;" required></textarea>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="form-holder" name="type" placeholder="Type"
                            required />
                    </div>

                    <div class="mb-3">
                        <input type="number" class="form-control" id="price" placeholder="Price" name="price"
                            required />
                    </div>

                              <div class="mb-3"> 
                                <label>Size vs Stock : </label> 
                                <div id="size-container"> 
                                  <div class="size-row"> 
                                    <select  class="form-control" name="sizes[]" required>  
                                      <option value="">Select Sizes</option>  
                                      <option value="6">6</option>  
                                      <option value="7">7</option>  
                                      <option value="8">8</option>  
                                      <option value="9">9</option>  
                                      <option value="10">10</option>
                                      <option value="11">11</option>  
                                    </select> 
                                      <input type="number" class="form-control" name="stock[]" placeholder="Stock" required> 
                                    </div> 
                                  </div> 
                                  <button type="button" class="add-size-btn btn btn-dark mt-3">Add More</button> 
                                </div> 
                        
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-success">
                            Save changes
                        </button>
                </form>


                <!-- ------------------- -->

            
        </div>
        </div>
    </div>
</div>

<!-- Responsive data table -->
<div class="card-body container">
    <table id="dataTable" class="table table-hover cell-border fw-light nowrap">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <% if(products !=null){ %>
            <tbody>
                
                    <% products.forEach(function(item,i){ %>
                        <tr>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <img src="/img/products/<%=item.frontImage%>" alt="" height="70">
                            </td>
                            <td>
                                <%= item.category.name %>
                            </td>
                            <td>
                                <%= item.brand.name %>
                            </td>
                            <td>
                                <%= item.price %>
                            </td>
                            <td>

                                <div class="text-center d-flex flex-column ">
                                    <a href="/admin/productManagement/<%= item._id %>"
                                        onclick="return editProductsAlertBox('<%= item.name %>',event,this)"
                                        class="btn btn-dark text-white btn-sm my-1">Edit</a>
                                        <div id="<%=item._id%>">
                                    <% if(item.listed==true){ %>
                                        <a  onclick="return changeListing('<%= item._id %> ')"
                                            class="btn btn-danger text-white btn-sm  my-1">Unlist</a>
                                        <% }else{ %>
                                            <a  onclick="return changeListing('<%= item._id%>')"
                                                class="btn btn-success text-white btn-sm my-1">List</a>
                                            <% } %>
                                        </div>
                                </div>
                            </td>
                        </tr>
               
                <% }) %>
            </tbody>
            <% } %>
    </table>
</div>

<!-- <script src="/js/imageCropping.js"></script> -->

<script> 
    $(document).ready(function() { 
      // Add event listener for adding more SSD rows 
      $('.add-size-btn').on('click', function() { 
      var sizeRow = '<div class="size-row mt-4">' + 
      ` <select  class="form-control" name="sizes[]">  
                <option selected>Select Sizes</option>  
                <option >6</option>  
                <option >7</option>  
                <option >8</option>  
                <option >9</option>  
                <option >10</option>
                <option >11</option>  
                </select>` + 
      '<input type="number" class="form-control" name="stock[]" placeholder="Stock" required>'+ 
      '<button type="button" class="btn btn-danger mb-1 remove-volume-btn">Remove</button>' + 
      '</div>';  

      $('#size-container').append(sizeRow); 
      }); 

      // Add event listener for removing SSD rows 
      $('#size-container').on('click','.remove-size-btn', function() { 
      $(this).parent().remove(); 
      }); 
    }); 


    document.querySelector('#frontImage').addEventListener('change',(e)=> {
        e.preventDefault()
    const input = e.target;
    if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
            const img = document.getElementById('croppedFrontImage');
            img.src = e.target.result;

            // Initialize Cropper on the img element
            const cropper = new Cropper(img, {
                aspectRatio: 0
            });

            document.querySelector('#btn-crop').addEventListener('click', (cropEvent) => {
                cropEvent.preventDefault()
                // Get the cropped image data
                const croppedFrontImage = cropper.getCroppedCanvas().toDataURL('image/png');
                console.log(croppedFrontImage);
                // Display the cropped image
                img.src = croppedFrontImage;
                console.log('image - ',img);
                document.querySelector('.croppedFrontImage-container').style.display = 'flex';
            });
        };

        reader.readAsDataURL(input.files[0]);
    }
});

</script>

<%- include('../partials/adminFooter.ejs')%>