<%- include("../partials/userHeader.ejs")%>

<section class="userPage">
  <div
    class="container-fluid pt-5 pb-5"
    style="
      background: #fff;
      width: auto;
      border: 1px solid #f0f0f0;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    "
  >
    <div class="row justify-content-center">
      <div class="form-control user-signup">
        <% if(locals.mail){ %>
        <form action="/sendForgotOtp" method="post">
          <% if(errMsg){%>
          <div class="errorstyle">
            <p style="text-align: center; color: rgb(255, 0, 0);">
              <%= errMsg %>
            </p>
          </div>
          <% } %>
          <label for="">Enter Your Email</label>
          <input
            type="email"
            name="email"
            style="margin-bottom: 20px; width: 707px;"
            required
          />
          <input type="submit" class="btn btn-success" value="Send OTP" />
        </form>
        <div>
          <a
            href="/userLogin"
            style="
              display: flex;
              justify-content: center;
              text-decoration: none;
              color: #151a8f;
              font-weight: bold;
              padding-top: 10px;
            "
            >Back to Login Page</a
          >
        </div>
        <% } %> <% if(locals.otpPage){ %>
        <form action="/verifyForgotPasswordOtp" method="post">
          <% if(errMsg){%>
          <div class="errorstyle">
            <p style="text-align: center; color: rgb(255, 0, 0);">
              <%= errMsg %>
            </p>
          </div>
          <% } %>
          <label for="">Enter Your OTP</label>
          <input type="text" name="otp" required />
          <input type="submit" class="btn btn-success" value="Submit OTP" />
          <p
            id="ForgotPasswordOtpExpirationTime"
            style="text-align: center; font-size: smaller;"
          ></p>
        </form>
        <a
          href="/resendForgotPasswordOtp"
          id="unhides"
          style="text-decoration: none;"
        >
          <button style="background-color: #0ede5a;border: none;">Resend OTP</button>
        </a>
        <% } %> <% if(locals.changePassword){ %>
        <div class="header">
          <h2>Change Password</h2>
        </div>
        <form
          class="form"
          action="/resetPassword"
          method="post"
          onsubmit="return forgotPasswordValidate()"
        >
          <% if(errMsg){%>
          <div class="errorstyle">
            <p style="text-align: center; color: rgb(255, 0, 0);">
              <%= errMsg %>
            </p>
          </div>
          <% } %>
          <div class="form-control">
            <label for="username">Password</label>
            <input
              type="password"
              placeholder="Your new Password"
              name="password"
              id="password"
            />
            <br />
            <small id="passwordError"></small>
          </div>
          <div class="form-control">
            <label for="username">Confirm Password</label>
            <input
              type="password"
              placeholder="Confirm Password"
              name="confirmPassword"
              id="confirmPassword"
            />
            <br />
            <small id="confirmPasswordError"></small>
          </div>

          <button type="submit">Submit</button>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</section>
<%-include('../partials/userFooter.ejs')%>
<script>
document.getElementById('unhides').style.display = "none"
let seconds = 30;
const forgotPasswordOtpExpirationText = setInterval(function () {
  seconds--
  document.getElementById('ForgotPasswordOtpExpirationTime').innerHTML =`OTP will expire in ${seconds} seconds`
  if(seconds < 0){
    clearInterval(forgotPasswordOtpExpirationText)
    document.getElementById('unhides').style.display= "block"
    document.getElementById('ForgotPasswordOtpExpirationTime').innerHTML= ""
  }
},1000)

</script>
