<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<%- include("../partials/userHeader.ejs")%>

<div style="background: #eeeeee;">
  <div class="container-fluid user-order pb-5" style="padding-top: 30px;">
    <div class="row px-xl-5 userProfile">
      <div class="col-lg-3">
        <div class="profileSideBar d-flex mb-3">
          <form
            action=""
            method="post"
            id="photoForm"
            enctype="multipart/form-data"
          >
            <div>
              <input
                type="text"
                name="userName"
                id="topProfileName"
                value="<%= user.name %>"
                style="display: none;"
              />
              <!-- <input
                type="file"
                id="imgupload"
                style="display: none;"
                name="photo"
                onchange="uploadPhoto(event)"
              />
              <a style="border: 0; background: transparent;" id="OpenImgUpload"
                ><img
                  src="/img/users/<%=userData.photo %>"
                  alt=""
                  name="currentPhoto"
                />
              </a> -->
            </div>
            <input type="hidden" id="userId" value="<%= userData._id %>" />
          </form>
          <% console.log(userData._id) %>
          <div class="username">
            <p class="mb-0">Hello Welcome,</p>
            <span>
              <%= user.name %>
            </span>
          </div>
        </div>

        <div class="profileSideBar">
          <div class="row">
            <div>
              <div class="menu d-flex">
                <!-- <span class="material-symbols-outlined">
                                folder
                            </span> -->
                <a href="/user/allOrders" class="title">My Orders</a>
              </div>
            </div>
            <div>
              <div class="menu d-flex">
                <!-- <span class="material-symbols-outlined">
                                person
                            </span> -->
                <a class="title">Account Settings</a>
              </div>
              <div class="submenus">
                <a
                  href="#"
                  class="btn_submenus"
                  onclick="showContents(this, 'content_1')"
                >
                  <div class="subTitle">Profile Information</div>
                </a>
                <a
                  href="#"
                  class="btn_submenus"
                  onclick="showContents(this, 'content_2')"
                >
                  <div class="subTitle">Manage Address</div>
                </a>
                <a
                  href="#"
                  class="btn_submenus"
                  onclick="showContents(this, 'content_3')"
                >
                  <div class="subTitle">Change Password</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Cropping Modal -->
      <!-- <div
        class="modal fade"
        id="modal0"
        role="dialog"
        aria-labelledby="modalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Crop image</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span
                  aria-hidden="true"
                  style="color: black; font-weight: bolder;"
                  >x</span
                >
              </button>
            </div>
            <div class="modal-body">
              <div class="img-container">
                <div class="row">
                  <div class="col-md-8"> -->
      <!--  default image where we will set the src via jquery-->
      <!-- <img id="imageToCrop" />
                  </div>
                  <div class="col-md-4">
                    <div class="preview"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button type="button" class="btn btn-primary" id="crop">
                Crop
              </button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-lg-9">
        <div class="sidebarDetails tabContents">
          <!-- ()()()()()()()()()()()()() 1st TAB Content Started ()()()()()()()()()()()()() -->
          <div class="tab_subtitleContent show mb-4" id="content_1">
            <!-------------------------Profile Information Started-------------------------->
            <div class="d-flex align-items-center">
              <span class="title">Profile Information</span>
              <a href="#" id="proEditBtn" class="edit" onclick="editProfile()"
                >Edit</a
              >
              <a
                href="#"
                id="proCaneclBtn"
                class="edit"
                onclick="cancelBtn()"
                style="display: none;"
                >Cancel</a
              >
            </div>
            <form action="" id="profileUpdateForm">
              <div class="pb-2" style="width: 100%;">
                <div style="width: 100%; padding-right: 12px;" id="profileData">
                  <div class="d-flex" style="margin-bottom: 10px;">
                    <div
                      class="field"
                      style="width: 270px; padding-right: 12px;"
                    >
                      <label for="" class="form-label">Full Name</label>
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        style="width: 100%;"
                        value="<%= user.name %>"
                        required
                      />
                    </div>

                    <div id="proBtn" style="display: none;">
                      <label for=""></label>
                      <input
                        type="submit"
                        class="btn btn-primary bg-gray-900 hover:bg-gray-900"
                        id=""
                        name=""
                        style="width: 100%;"
                        value="SAVE"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-------------------------Profile Information Ended-------------------------->

            <!-------------------------Email & Mobile Information Started-------------------------->
            <div class="d-flex" style="align-items: center;">
              <span class="title">Email & Mobile Information</span>
              <a
                href="#"
                id="emailEditBtn"
                class="edit"
                onclick="emailPhoneEdit()"
                >Edit</a
              >
              <a
                href="#"
                id="emailCancelBtn"
                class="edit"
                style="display: none;"
                onclick="emailPhoneCancel()"
                >Cancel</a
              >
            </div>
            <form action="" id="emailPhoneUpdateForm">
              <div class="pb-2" style="width: 100%;">
                <div style="width: 100%; padding-right: 12px;">
                  <div class="d-flex" style="margin-bottom: 10px;">
                    <div
                      class="field"
                      style="width: 270px; padding-right: 12px;"
                    >
                      <label for="" class="form-label">Mobile No.</label>
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        id="phoneNumber"
                        name="phoneNumber"
                        style="width: 100%;"
                        value="<%= user.phoneNumber %>"
                        pattern="[0-9]{10}"
                        required
                      />
                    </div>
                    <div
                      class="field"
                      style="width: 270px; padding-right: 12px;"
                    >
                      <label for="" class="form-label">Email</label>
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        id="email"
                        name="email"
                        style="width: 100%;"
                        value="<%= user.email %> "
                        required
                      />
                    </div>
                    <div>
                      <label for=""></label>
                      <input
                        type="submit"
                        class="btn btn-primary bg-gray-900 hover:bg-gray-900"
                        id="emailBtn"
                        name=""
                        style="width: 100%; display: none;"
                        value="SAVE"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-------------------------Email & Mobile Information Ended-------------------------->
          </div>
          <!-- ()()()()()()()()()()()()() 1st TAB Content Ended ()()()()()()()()()()()()() -->

          <!-- ()()()()()()()()()()()()() 2nd TAB Content Started ()()()()()()()()()()()()() -->
          <div class="tab_subtitleContent mb-4" id="content_2">
            <!-- Manage Address Started -->
            <span class="title">Manage Address</span>
            <div class="mt-3">
                <button class="mt-4 mb-8 rounded-md bg-gray-900 px-6 py-3 font-medium text-white">
                    <a class="hover:text-white" href="/addressPage" for="addBillingAddress">Add New Address</a>
                </button>
            </div>
        
            <div id="address" style="width: 100%; background: #fff;">
                <% let addresses = userData ? userData.addresses : [] %>
                <% if (addresses.length === 0) { %>
                    <h4>No Address. Add Address</h4>
                <% } else { %>
                    <% addresses.forEach((addr, i) => { %>
                        <div class="p-4 flex justify-between mb-4" style="background: #fff; border: 1px solid #ddd;">
                            <div class="mb-2">
                                <div>
                                    <input type="hidden" class="form-check-input me-2" name="address" value="<%= addr._id %>" required <% if (i === 0) { %>checked<% } %> />
                                </div>
                                <div style="text-align: left;">
                                    <p class="m-0" style="font-weight: bold;">
                                        <%= addr.building %>
                                    </p>
                                    <p style="font-size: 14px;">
                                        <strong>Address Line : - </strong><%= addr.address %><br />
                                        <strong>City : - </strong><%= addr.city %><br />
                                        <strong>Mobile No : - </strong><%= addr.mobileNumber %><br />
                                        <span style="font-weight: bold;">Pin-code : - <%= addr.pinCode %></span>
                                    </p>
                                </div>
                            </div>
                            <a href="/userProfile/editAddressPage/<%= addr._id %>" class="h-10 rounded-md bg-gray-900 px-4 font-medium text-white">
                                <div class="d-flex align-items-center">
                                    <span class="align-middle">edit</span>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                <% } %>
            </div>
            <!-- Manage Address Ended -->
        </div>

          <!-- ()()()()()()()()()()()()() 2nd TAB Content Ended ()()()()()()()()()()()()() -->

          <!-- ()()()()()()()()()()()()() 3rd TAB Content Started ()()()()()()()()()()()()() -->
          <div class="tab_subtitleContent" id="content_3">
            <!-------------------------Change Password Started-------------------------->
            <span class="title">Change Password</span>
            <form action="" id="changePassword">
              <div class="pb-2" style="width: 100%;">
                <div style="width: 100%; padding-right: 12px;">
                  <small
                    id="userProfilePasswordError"
                    style="color: red;"
                  ></small>
                  <div class="d-flex" style="margin-bottom: 10px;">
                    <div
                      class="field"
                      style="width: 270px; padding-right: 12px;"
                    >
                      <label for="" class="form-label">New Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="profilePassword"
                        name="profilePassword"
                        style="width: 100%;"
                        required
                      />
                    </div>
                    <div
                      class="field"
                      style="width: 270px; padding-right: 12px;"
                    >
                      <label for="" class="form-label">Confirm Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="profileCfmPassword"
                        name="profileCfmPassword"
                        style="width: 100%;"
                        required
                      />
                    </div>
                    <div>
                      <label for=""></label>
                      <input
                        type="submit"
                        class="btn btn-primary bg-gray-900 hover:bg-gray-900"
                        id=""
                        name=""
                        style="width: 100%;"
                        value="SAVE"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-------------------------Change Password Ended-------------------------->
          </div>
          <!-- ()()()()()()()()()()()()() 3rd TAB Content Ended ()()()()()()()()()()()()() -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<script>
  function showContents(activeTab, contentsID) {
    var tabs = document.querySelectorAll(".btn_submenus");
    var contents = document.querySelectorAll(".tab_subtitleContent");

    for (var i = 0; i < tabs.length; i++) {
      tabs[i].classList.remove("show");
      contents[i].classList.remove("show");
    }

    activeTab.classList.add("show");
    document.getElementById(contentsID).classList.add("show");
  }

  document.addEventListener("DOMContentLoaded", function () {
    var initialActiveTab = document.querySelector(".btn_submenus");
    if (initialActiveTab) {
      initialActiveTab.click();
    }
  });

  // editProfile

  function editProfile() {
    document.getElementById("name").disabled = false;
    document.getElementById("proBtn").style.display = "block";
    document.getElementById("proEditBtn").style.display = "none";
    document.getElementById("proCaneclBtn").style.display = "block";
    console.log("ajnfjkank");
  }

  function cancelBtn() {
    document.getElementById("name").disabled = true;
    document.getElementById("proBtn").style.display = "none";
    document.getElementById("proEditBtn").style.display = "block";
    document.getElementById("proCaneclBtn").style.display = "none";
  }

  // submitting the profile update form

  const profileUpdateForm = document.getElementById("profileUpdateForm");

  profileUpdateForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(profileUpdateForm);
    const data = Object.fromEntries(formData);

    fetch("/userProfile/profile/update", {
      method: "put",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(
            `Failed to update profile. Status: ${response.status}`
          );
        }
        return response.json(); // Assuming the server responds with JSON
      })
      .then((responseData) => {
        Toastify({
          text: "Name has been updated",
          className: "info",
          duration: 600,
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
          },
        }).showToast();

        let updatedName = responseData.user;

        let topProfileName = (document.getElementById(
          "topProfileName"
        ).value = updatedName);
        console.log(topProfileName);
        document.getElementById("name").value = updatedName;

        // Reload the page after updating the name
        setTimeout(() => {
          window.location.reload();
        }, 3000);
      })
      .catch((error) => {
        console.error("Error updating profile:", error);
      });
  });

  // edit profile ended

  // Email & Mobile Information update fields enable and disable

  function emailPhoneEdit() {
    document.getElementById("phoneNumber").disabled = false;
    document.getElementById("email").disabled = false;
    document.getElementById("emailBtn").style.display = "block";
    document.getElementById("emailCancelBtn").style.display = "block";
    document.getElementById("emailEditBtn").style.display = "none";
  }

  function emailPhoneCancel() {
    document.getElementById("phoneNumber").disabled = true;
    document.getElementById("email").disabled = true;
    document.getElementById("emailBtn").style.display = "none";
    document.getElementById("emailCancelBtn").style.display = "none";
    document.getElementById("emailEditBtn").style.display = "block";
  }

  // updating the email and phone number

  const emailPhoneUpdateForm = document.getElementById("emailPhoneUpdateForm");

  emailPhoneUpdateForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(emailPhoneUpdateForm);
    const data = Object.fromEntries(formData);
    console.log(data);

    fetch("/userProfile/emailPhone/update", {
      method: "put",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    })
      .then((response) => {
        return response.json();
      })
      .then((responseData) => {
        console.log("data - ", responseData);
        let updatedDetails = responseData.user;
        document.getElementById("email").value = updatedDetails.email;
        document.getElementById("phoneNumber").value =
          updatedDetails.phoneNumber;

        Toastify({
          text: "email or phone number is updated",
          className: "info",
          duration: 600,
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
          },
        }).showToast();

        setTimeout(() => {
          location.reload();
        }, 3000);
      });
  });
  // updating email and phone number completed

  // update password

  const passwordUpdateForm = document.getElementById("changePassword");

  passwordUpdateForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(passwordUpdateForm);
    const data = Object.fromEntries(formData);
    console.log(data);
    let newPassword = document.getElementById("profilePassword").value.trim();
    let confirmPassword = document
      .getElementById("profileCfmPassword")
      .value.trim();
    if (newPassword === confirmPassword) {
      fetch("/userProfile/password/update", {
        method: "put",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      }).then(() => {
        Toastify({
          text: "password is updated",
          className: "info",
          duration: 600,
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
          },
        }).showToast();

        setTimeout(() => {
          location.reload();
        }, 3000);
      });
    }
  });
</script>

<%- include("../partials/userFooter.ejs")%>
