<%- include("../partials/userHeader.ejs")%>

<div class="container mx-auto py-8">
    <h1 class="text-3xl text-center font-semibold mb-8">Wishlist</h1>

    <div class="grid grid-cols-1 max-sm:w-72 max-sm:ml-16 ml-10 max-sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <% if (wishlist !== null && wishlist.products.length !== 0) { %>
            <% wishlist.products.forEach((product,i) => { %>
                <div class="bg-white p-6 rounded-lg shadow-md relative">
                    <img src="/img/products/<%=product.name.frontImage %>" alt="<%= product.name %>" class="w-full h-40 object-cover mb-4 rounded-md">
                    <h2 class="text-lg font-semibold mb-2"><%= product.name.name %></h2>
                    <p class="text-gray-600 mb-4"><%= product.name.price%></p>
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-full" onclick="addToCart('<%= product.name._id %>','<%= product.name.price %>','<%= product.size %>')">Add to Cart</button>
                    <button type="button" class="absolute top-[280px] right-2 flex rounded p-2 text-center text-gray-500 transition-all duration-200 ease-in-out focus:shadow hover:text-gray-900" onclick="deleteProductFromWishlist('<%= product.name._id %>')">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
            <% }); %>
        <% } else { %>
            <div class="flex items-center justify-center text-center">
                <span class=" font-semibold" style="border-bottom: 15px solid #f5f5f5;">You currently have no items in your wishlist</span>
            </div>
        <% } %>
    </div>
</div>

<script>
    function deleteProductFromWishlist(id){
        Swal.fire({
            title:'Do you want to remove product?',
            icon:'warning',
            showCancelButton:true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then(val =>{
            if(val.isConfirmed){
                fetch('/user/wishlist',{
                    method:"DELETE",
                    headers:{'Content-Type':'application/json'},
                    body:JSON.stringify({id})
                }).then(res=>res.json()).then(data=>{
                    location.reload()
                })
            }
        })
    }
</script>


<%- include("../partials/userFooter.ejs")%>